footer{
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
}

.info{
    margin-bottom: 3.125rem;
}

.info img{
    height: 18.75rem;
    margin-bottom: -6.25rem;
}

.info h2{
    color: #000;
    font-size: 1.875rem;
    font-weight: 400;
}

.redesSociais{
    margin-top: 12.5rem;
    font-size: 1.25rem;
    color: #000;
}

.redesSociais a{
    color: #000;
}

.redesSociais span{
    font-weight: 600;
}

.redesSociais i{
    margin: 0.625rem;
    cursor: pointer;
}

.ilustracaoFooter{
    display: flex;
    align-items: center;

}

.ilustracaoFooter img{
    height: 25rem;
}