.produtos{
    background-color: #ff9200;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtosTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.875rem;
    color: #fff;
}

.produtosTexto h3{
    font-size: 2.5rem;
}

.produtosTexto p{
    font-size: 1.5rem;
}

.produtosImagem{
    display: flex;
    justify-content: space-between;
    margin: 1,5625rem 1.25rem;
}

.produtosImagem img{
    height: 20%;
    width: 20%;
    border-radius: 100%;
}

.produtos a{
    background-color: #000;
    color: #FFF;
    margin: 1.25rem 0px 1.875rem 0px;
    padding: 0.625rem 1.25rem;
    font-weight: 600;
    font-size: 16px;
}