.sobre{
    height: 43.75rem;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.texto{
    margin: 3.125rem 1.25rem;
}

.texto h2{
    margin-bottom: 1.875rem;
    font-size: 4rem;
    font-weight: 600;
    color: #ff9200;
}

.texto p{
    color: #fff;
    margin: 1.875rem 0px;
}

.funcionarioImagem{
    margin: 2.5rem;
    height: 80%;
    width: 80%;
}